header {
  display: block;
  background-color: white;
  height: 116px;
  width: 100%;
}

div {
  position: relative;
}

html, body {
  overflow-x: hidden;
}

#annuaire .custom-input-padding {
  padding-top: 0.1em;
  padding-right: 1.6em;
  color: #eb661b;
  font-size: 2em;
  border: 0px;
}
#annuaire #search {
  margin-top: 0px;
  position: relative;
  padding: 1em;
  min-height: 5em;
  background-color: #eb661b;
}
#annuaire #search input {
  height: 3em;
  width: 485px;
}
#annuaire #search select {
  height: 3em;
  width: 333px;
}
#annuaire #search input, #annuaire #search select {
  box-shadow: none;
  border: none;
  background: white;
}
#annuaire #search:before,
#annuaire #search:after {
  content: "";
  position: absolute;
  background-color: #eb661b;
  padding: 1em;
  height: 5em;
  top: 0;
  bottom: 0;
  width: 100%;
}
#annuaire #search:after {
  left: 100%;
}
#annuaire #search:before {
  right: 100%;
}
#annuaire #page {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
#annuaire #page li {
  display: inline-block;
  list-style-type: none;
}
#annuaire #page li a {
  margin: 0.1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-decoration: none;
  color: black;
}
#annuaire #page li a:hover {
  background-color: #eb661b;
  border-radius: 10%;
  color: white;
}
#annuaire #content {
  padding-top: 10vh;
}
#annuaire #content .content-annuaire {
  position: relative;
  height: 250px;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire {
  width: 100%;
  padding-bottom: 0.7em;
  background: url("../../img/background-div-annuaire.png") bottom right no-repeat;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .logo {
  position: relative;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .logo img {
  vertical-align: bottom;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire h3 {
  color: #eb661b;
  text-align: center;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption {
  display: inline-block;
  box-sizing: border-box;
  width: 73%;
  border: 1px solid black;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption h3 {
  font-size: 2em;
  font-weight: bold;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption p:nth-child(2) {
  padding-left: 2em;
  padding-right: 2em;
  letter-spacing: 0.4px;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption p:nth-child(3) {
  text-align: center;
}
#annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption p:nth-child(3) .btn-association {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1em;
  font-weight: bold;
  background-color: #eb661b;
  color: white;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  #annuaire #search select {
    width: 98.1%;
    margin-top: 1em;
  }
  #annuaire #content {
    padding-top: 4em;
  }
  #annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .logo {
    display: none;
  }
  #annuaire #content .content-annuaire .content-ta .thumbnail-annuaire .caption {
    width: 98%;
  }
}

/*# sourceMappingURL=css_annuaire.css.map */
