$input_size_height: 50px;
$input_size_width: 485px;

$select_size_height: 50px;
$select_size_width: 333px;

$search_margin_top: 70px;
$content_margin_top: 63px;

$color: #eb661b;
$h3-color: $color;
$btn-color: $color;
$li_background_hover: $color;
$color_gly_search: $color;

header{ 
	display: block;
	background-color: orange;
	height: 116px;
	width: 100%;
}

div{
	position: relative;
}

select {

  /* make arrow and background */

  background:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, red, red);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */

  border: thin solid black;
  font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
  line-height: 100%;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

#annuaire{

	.custom-input-padding{
		padding-top: 0.2em;
		padding-right: 1.4em;
		color: $color_gly_search;
		font-size: 2.8em;
	}

	#search{
		margin-top: $search_margin_top;

		input{
			height: $input_size_height;
			width: $input_size_width;
		}

		select{
			height: $select_size_height;
			width: $select_size_width;
		}

	}

	#page{
		text-align: center;
		font-size: 2em;
		font-weight: bold;

		li{
			display: inline-block;
			list-style-type: none;

			a{
				margin: 0.1em;
				padding-left: 0.4em;
				padding-right: 0.4em;
				padding-top: 0.2em;
				padding-bottom: 0.2em;
				text-decoration: none;
				color: black;
			}

			a:hover{
				background-color: $li_background_hover;
				border-radius: 10%;
				color: white;
			}
		}
	}

	#content{
		padding-top: $content_margin_top;

		.content-annuaire{
			position: relative;
			height: 250px;

			.content-ta{
				position: absolute;
				width: 98%;
				top: 0;
				left: 0;
				z-index: 2;

				.thumbnail-annuaire{
					width: 100%;
					max-height: 212px;
					border: 2px solid black;

					.logo{
						position: relative;
						display: inline-block;
						width: 30%;
						box-sizing: border-box;
						text-align: center;
						padding: 1em;

						img{
							vertical-align: bottom;
						}

					}

					h3{
						color: $h3-color;
						text-align: center;
					}

					.caption{
						display: inline-block;
						box-sizing: border-box;
						width: 69%;
						max-height: 204px;
						border-left: 1px solid black;

						h3{
							font-size: 2em;
							font-weight: bold;
						}

						p:nth-child(2){
							padding-left: 1em;
							padding-right: 1em;
						}
						p:nth-child(3){
							text-align: center;

							.btn-association{
								padding-left: 3em;
								padding-right: 3em;
								font-size: 1em;
								font-weight: bold;
								background-color: $btn-color;
								color: white;
							}
						}
					}
				}
			}
		}

		.background{
			width: 100%;
			position: absolute;
			height: 210px;

			background: url('../../img/background-div-annuaire.png') bottom right no-repeat;
			z-index:1;
		}
	}

}
